@charset "UTF-8";
@use "../common/scss/_variable.scss" as *;

.box {
	width: 500px;
	height: 200px;
	margin-inline: auto;
	font-size: 24px;
	text-align: center;
	&--add {
		background: red;
	}
	&--remove {
		background: blue;
	}
	&--toggle {
		background: green;
	}
	&.orange {
		background: orange;
	}
	&.aqua {
		background: aqua;
	}
	&.lime {
		background: lime;
	}
}
