@charset "UTF-8";
@use "../common/scss/_variable.scss" as *;

.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 85px;
	padding-inline: 50px;
	background: $c-primary;
	border-bottom: 3px solid $c-black;
	.header__logo {
		font-size: 40px;
		font-weight: bold;
	}
}
.menu {
	z-index: 1;
	position: relative;
	width: 35px;
	height: 30px;
	.menu__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: black;
		border-radius: 999px;
		transition: top 0.3s ease-out, transform 0.3s ease-out;
		&:nth-child(2) {
			top: 13.5px;
			transition: opacity 0.3s ease-out;
		}
		&:nth-child(3) {
			top: 27px;
		}
	}
	&--active .menu__line {
		&:nth-child(1) {
			top: 13.5px;
			transform: rotate(45deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			top: 13.5px;
			transform: rotate(-45deg);
		}
	}
}
.nav-wrap {
	z-index: -1;
	position: fixed;
	inset: auto 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 85px);
	background: $c-white;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
	&--open {
		opacity: 1;
		visibility: visible;
	}
}
.nav-list {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 35px;
	.nav-list__link {
		display: inline-block;
		padding: 20px;
		font-size: 24px;
		font-weight: bold;
	}
}
