.box {
  width: 500px;
  padding-block: 100px;
  margin-inline: auto;
  font-size: 24px;
  text-align: center;
}
.box--add {
  background: red;
}
.box--remove {
  background: blue;
}
.box--toggle {
  background: green;
}
.box.orange {
  background: orange;
}
.box.aqua {
  background: aqua;
}
.box.lime {
  background: lime;
}