@charset "UTF-8";

//---------------------------------------------
// Color
//---------------------------------------------
$c-black: #000000;
$c-white: #ffffff;
$c-primary: #88c6e9;
$c-secondary: #8668ff;

//---------------------------------------------
// Font
//---------------------------------------------
$f-YuGothic: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
	"ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
