@charset "UTF-8";
@use "_variable.scss" as *;
@use "_destyle.scss";

body {
	scroll-behavior: smooth;
	color: $c-black;
	font-family: $f-YuGothic;
	line-height: 1.5;
}
.ttl {
	margin-top: 100px;
	font-size: 40px;
	font-weight: bold;
}